  
<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <title>Trade Bot</title>

    </head>
    <body>
        <header>
            Trade Bot Landing page
        </header>
        <br/>
        <section class="info">
            Available Endpoints
            <Ul>
                <li></li>
            </Ul>
        </section>
    </body>

</html>